body{
    background-image: url(/html-css-js-projects/digital-clock/images/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    width: 100%;
}