body{
    background-color: hsl(302, 26%, 81%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#display{
    width: 100%;
    font-size: 5rem;
    padding: 25px;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    overflow: hidden;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    cursor: pointer;
}

.operator{
    background-color: hsl(35, 100%, 55%);
}

.operator:hover{
    background-color: hsl(35, 100%, 45%);
}

.operator:active{
    background-color: hsl(35, 100%, 35%);
}


button:hover{
    background-color: hsl(0, 0%, 20%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}