body{
    background-color: hsl(183, 21%, 77%);
}

#container{
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#guessBtn{
    border: 4px solid;
    font-size: 1.3em;
    cursor: pointer;
}

#hint{
    border: 4px solid;
    font-size: 1.1em;
    cursor: pointer;
}

div label{
    display: block;
}

#inputNum{
    font-size: 1.1em;
    border: 3px double;
    margin-top: 20px;
}