body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(305, 26%, 91%);
}

h1{
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}

#choices{
    margin-bottom: 30px;
}

#choices button{
    border-radius: 250px;
    min-width: 160px;
    margin: 0px 10px;
    background-color: hsl(200, 100%, 50%);
    font-size: 7.5rem;
    cursor: pointer;
}

#choices button:hover{
    background-color: hsl(200, 100%, 60%);
}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}

#resultDisplay{
    font-size: 5rem;
    margin: 30px 0px;
}

.scoreDisplay{
    font-size: 2rem;
}

.greenText, #playerScore{
    color: green;
}

.redText, #computerScore{
    color: red;
}